.Communication{
    display: flex;
    justify-content: center;
    text-align: center;


    max-width: 940px;
    width: 100%;
    // min-height: 660px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;

    &-Cont{
        width: 100%;
        
        &-AllDivS{
            &-MainTitle{
                background-color: #254a81;
                color: #fff;
                min-height: 60px;
            }
            h2{
                padding: 17px;
                font-size: 18px;
                font-family: 'Times New Roman', "Regular";
                margin-right: 20px;

            }
            &-MainDiv{
                padding: 110px 180px;
                &-PreviousAndNext{
                    padding: 30px 0 0 0;
                    justify-content: center;
                    display: flex;
                    &-Previous{
                        max-width: 130px;
                        min-height: 40px;
                        width: 100%;
                        background-color: #fff;
                        border: 1px solid #4786ff;
                        border-radius: 6px;
                        color: #4786ff;
                        font-family: 'Times New Roman', "Regular";
                        cursor: pointer;
                        outline: none;
                        margin-right: 20px;
                    }
                    &-Next{
                        max-width: 130px;
                        min-height: 40px;
                        width: 100%;
                        background-color: #4786ff;
                        border: 1px;
                        border-radius: 6px;
                        color: #fff;
                        font-family: 'Times New Roman', "Regular";
                        cursor: pointer;
                        outline: none;

                    }
                }
                &-Flex{
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: space-between;
                    button{
                        max-width: 130px;
                        width: 100%;
                        min-height: 40px;
                        border-radius: 6px;
                        margin-left: 20px;
                        border: 1px solid #72a2ff;
                        outline: none;
                        background-color: #72a2ff;
                        color: #fff;
                        font-family: 'Times New Roman', "Regular";
                        cursor: pointer;
                    }
                    input {
                        width: 100%;
                        min-height: 40px;
                        outline: none;
                        border-radius: 6px;
                        border: 1px solid #babdc0;
                        padding: 0 15px;
                    }
                    h1{
                        color: #091f40;
                        font-size: 16px;
                        font-family: 'Times New Roman', "Regular";
                        margin-right: 20px;

                    }
    
                }
            }
            
        }
    }
}