.container {
    min-height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #eff0f2;
    border-right: none;

}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 60px;
  height: 25px;
  width: 27px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px
}
.container input:checked ~ .checkmark {
  background-color: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #4786ff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.textInForm{
    margin-left: 110px;
    min-height: 60px;
    width: 100%;
    background-color: #ffffff;
    padding: 18px 30px;
    border: 0px solid #eff0f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-left: 1px solid #eff0f2;

}
   
.container:hover{
    background-color: #eff0f2;
    font-weight: 600;
    color: #383940;
    
}
.textInForm:hover{
    background-color: #eff0f2;
    font-weight: 600;
    color: #383940;
}

@media only screen and (max-width: 500px){
    .QuestionSubject-Cont-TextAndForm-TextSAndSearchAndForm{
        padding: 0;  
    }
    .textInForm{
        margin-left: 40px;
    }
    .checkmark{
        left: 24px;
    }
    .QuestionSubject-Cont-TextAndForm-TextSAndSearchAndForm-TextAndSearch{
        justify-content: center;
        margin-top: 30px;
    }
    .QuestionSubject-Cont-TextAndForm h2{
        justify-content: center;
        display: flex;
        padding: 40px 0 30px 0;
    }
}
@media only screen and (max-width: 700px){
    .QuestionSubject-Cont-TextAndForm-TextSAndSearchAndForm-TextAndSearch-Search input{
        width: 60%;
    }
}