.CardSOfTitle{
    width: 100%;
    &-Cont{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &-Width{
            width: 100%;
            max-width: 380px;
            background-color: antiquewhite;
            &-Flex{
                display: flex;
                align-items:center;
                min-height: 130px;
                background: #ffffff;
                border-radius: 6px;
                padding: 40px 60px;
    
                &-Margin{
                    margin: 0 0 0 20px;
                }
                &-TitleAndQuantity{
                    text-transform: uppercase;
                    margin-left: 30px;
                    line-height: 30px;            
                    &-Quantity{
                        font-size: 30px;
                        font-weight: 600;
                        font-family: 'Times New Roman', Regular;
                    }
                    &-Title{
                        font-size: 30px;
                        color: #63686f;
                        font-family: 'Times New Roman', Regular;
                        &-M{
                            color: red;
                        }
                    }
                }
                &-Button{
                    max-width: 380px;
                    width: 100%;
                    min-height: 50px;
                    background: #4786ff;
                    border-radius: 0 0 6px 6px ;
                    border: 1px;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-size: 14px;
                    font-family: 'Times New Roman', Regular;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
}